body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.product-listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 170px;
}

.product-listing .product-list-item {
  padding: 10px 30px;
  /* width: calc(100%/5); */
  width: 300px;
  border: 1px solid gray;
  margin: 5px;
  border-radius: 15px;
}


.remove-btn {
  margin-top: 8px;
}
.custom-css {
  position: relative;
}
.custom-css .viewMore{
  position: absolute;
  top: 0;
}